* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 24px 16px 24px 16px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);

}

.center{
  display: flex;
  justify-content: center;
  align-items: center;

  
}

.center > img{
  width: 43px;
  height: 53px;
}

.center > h1{
 font-weight:400;
 font-size: 32px;
}

.center > p{
  margin-left: 20px;

}

.login-signup > button{
    font-family: Inter, sans-serif;
    border-radius: 6px;
    border: none;
    background-color: white;
    color: black;
    width: 70px;
    height: 35px;
    font-size: 0.875rem;
    font-weight: 500;
    margin-right: 30px;
    cursor: pointer;
   
}

main {
  padding: 30px 30px 10px;
  margin-top: 30px;

}
.input-form-ingredients{
  display: flex;
  justify-content: center;
  gap: 12px;
  height: 38px;
}

.input-form-ingredients > input{
  border-radius: 6px;
  border: 1px solid #D1D5DB;
  padding: 9px 13px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
}

.input-form-ingredients > button{
  font-family: Inter, sans-serif;
    border-radius: 6px;
    border: none;
    background-color: #141413;
    color: #FAFAF8;
    width: 150px;
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
}

.Ingredients-list-items{
  margin-top: 40px;;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  padding-left: 400px;
}

.Ingredients-list-items li {
  margin-bottom: 10px; /* Adds space between each list item */
  font-size: 16px; /* Optional: change font size */
  line-height: 1.5; /* Optional: adjust line height for better readability */
  
}

.Get-recipe-container{
  display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: #F0EFEB;
    padding: 10px 28px;
    color: #6B7280;
}


.Get-recipe-container > button{
  background-color: #D17557;
  border: none;
  color: white;
  padding: 20px 20px 20px 20px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
}

.Get-recipe-container > button:hover{
  background-color: #B85F42;
}
.login-page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 500px;
  height: 500px;
}

.login-form > h1{
  font-weight: 500;
}

.input-box > input{
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 50px;
  padding-top: 25px;
  border: none;
  outline: none;
  border-bottom: .5px solid grey;
}

.login-form > button{
  background-color: #141413;
  color: #F0EFEB;
  border: none;
  width: 220px;
  height: 35px;
  font-size: 15px;
  margin-top: 20px;
  border-radius: 3px;
  cursor: pointer;
}

.login-form > img{
  width: 50px;
  margin-bottom: 50px;
}

.login-form > p{
  font-size: 14px;
}

.Login-link{
  text-decoration: none;
}

.signUp-error{
  color: #B91C1C;
  
}

.recipe-container {
  color: #475467;
  line-height: 28px;
  font-size: 1.125rem;
  font-weight: 400;
}

.recipe-container ul li, .recipe-container ol li {
    margin-bottom: 8px;
}

button.My-recipes {
   font-family: Inter, sans-serif;
    border-radius: 6px;
    border: none;
    background-color: #D17557;
    color: white;
    width: 100px;
    height: 35px;
    font-size: 0.875rem;
    font-weight: 500;
    margin-right: 30px;
    cursor: pointer;
}

button.My-recipes:hover{
  background-color: #A04E35;
}

.Save-Recipe {
   width: 100px;
  background-color: #D17557 ;
  color: white;
  border-style: none;
  border-radius: 6px;
  width: 150px;
  height: 50px;
  font-size: medium;
  cursor: pointer;

}

.Save-Recipe:hover{
  background-color: #A04E35;
}

.recipe-page{
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
  background-color: white;
  border-top: 1px solid lightgrey;
  
 
}


.recipe-card {
  width: 400px;
  border-radius: 12px;
  background-color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid lightgrey;
}

.recipe-card:hover{
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.recipe-card > img{
  width: 400px;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.recipe-info {
  padding: 20px;
}

.recipe-meta {
  display: flex;
  color: grey;
  border-top: solid 1px grey;
  padding-top: 11px;
}

.recipe-time {
  display: flex;
  gap: 5px;

  width: 100px;
}

.recipe-serving{
  display: flex;
  width: 150px;
  gap: 5px;
  
  
}

.time-serving {
  display: flex;
  margin-right: 100px;
  gap: 20px;

}

svg {
  width: 20px;
  height: 20px;
}

.easy {
  background-color: #b5f7c7;
  color: green;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 17px;
}

.medium {
  background-color: #f7f49e;
  color: brown;
  padding: 5px 10px;
  border-radius: 5px;
  
}

.hard {
  background-color: #ffcfcf;
  color: #B91C1C;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 17px;
}

.link-home {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.loader{
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-color: #fff transparent;
  border-radius: 50%;
  animation: load 1s linear infinite;
}
@keyframes load{
  100%{
    transform: rotate(360deg);
  }
}

.loading-btn{
  display: flex;
  gap: 30px;
}

.delete-icon{
  width: 49vh;
  padding-left: 370px;
  margin-top: 3px;
}

.delete-icon:hover{
  color: #B91C1C;
}
