* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 24px 16px 24px 16px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);

}

.center{
  display: flex;
  justify-content: center;
  align-items: center;

  
}

.center > img{
  width: 43px;
  height: 53px;
}

.center > h1{
 font-weight:400;
 font-size: 32px;
}

.login-signup > button{
    font-family: Inter, sans-serif;
    border-radius: 6px;
    border: none;
    background-color: #141413;
    color: #FAFAF8;
    width: 70px;
    height: 35px;
    font-size: 0.875rem;
    font-weight: 500;
    margin-right: 30px;
   
}

main {
  padding: 30px 30px 10px;
  margin-top: 30px;

}
.input-form-ingredients{
  display: flex;
  justify-content: center;
  gap: 12px;
  height: 38px;
}

.input-form-ingredients > input{
  border-radius: 6px;
  border: 1px solid #D1D5DB;
  padding: 9px 13px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
}

.input-form-ingredients > button{
  font-family: Inter, sans-serif;
    border-radius: 6px;
    border: none;
    background-color: #141413;
    color: #FAFAF8;
    width: 150px;
    font-size: 0.875rem;
    font-weight: 500;
}

.Ingredients-list-items{
  margin-top: 40px;;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  padding-left: 400px;
}

.Ingredients-list-items li {
  margin-bottom: 10px; /* Adds space between each list item */
  font-size: 16px; /* Optional: change font size */
  line-height: 1.5; /* Optional: adjust line height for better readability */
  
}

.Get-recipe-container{
  display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: #F0EFEB;
    padding: 10px 28px;
    color: #6B7280;
}


.Get-recipe-container > button{
  background-color: #D17557;
  border: none;
  color: white;
  padding: 20px 20px 20px 20px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 15px;
}

.login-page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  width: 500px;
  height: 400px;
}

.login-form > h1{
  font-weight: 500;
}

.input-box > input{
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 50px;
  padding-top: 25px;
  border: none;
  outline: none;
  border-bottom: .5px solid grey;
}

.login-form > button{
  background-color: #141413;
  color: #F0EFEB;
  border: none;
  width: 220px;
  height: 35px;
  font-size: 15px;
  margin-top: 20px;
  border-radius: 3px;
}

