* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  gap: 20px;
  padding: 24px 16px 24px 16px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);

}

header > img{
  width: 43px;
  height: 53px;
}

header > h1{
 font-weight:400;
 font-size: 32px;
}

main {
  padding-top: 30px;
  padding-left: 30px;
}

.input-form-ingredients > input{
  width: 399px;
  height: 38px;
}

.input-form-ingredients > button{
  background-color: black;
  color: white;
  
}